<div class="keypaf">
    <button class="button" (click)="onButtonClick('1')">1</button>
    <button class="button" (click)="onButtonClick('2')">2</button>
    <button class="button" (click)="onButtonClick('3')">3</button>
    <button class="button" (click)="onButtonClick('+')">+</button>
    <button class="button" (click)="onButtonClick('4')">4</button>
    <button class="button" (click)="onButtonClick('5')">5</button>
    <button class="button" (click)="onButtonClick('6')">6</button>
    <button class="button" (click)="onButtonClick('-')">-</button>
    <button class="button" (click)="onButtonClick('7')">7</button>
    <button class="button" (click)="onButtonClick('8')">8</button>
    <button class="button" (click)="onButtonClick('9')">9</button>
    <button class="button" (click)="onButtonClick('*')">*</button>
    <button class="button" (click)="onButtonClick('0')">0</button>
    <button class="button" (click)="onButtonClick('.')">.</button>
    <button class="button" (click)="onButtonClick('/')">/</button>
    <button class="button" (click)="calculate()">=</button>
    <button class="button" (click)="clear()">C</button>
  </div>
  