<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Welcome to the Blog</h1>
  <ul>
    <% posts.forEach(function(post) { %>
      <li><%= post.title %></li>
    <% }); %>
  </ul>
  <a href="/newpost">Create a new post</a>
</body>
</html>